<!DOCTYPE html>
<head>
	<title>Ágora</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<html>
	<body>
		<div class="page-wrap">
			<div class="card-and-slider">
				<div class="card-container">
					<div class="card">
						<div class="center"><p><%= text %></p></div> 
					</div>
				</div>

				<p class="instructions" id="instructions"> Selecione o nível de sentimento dessa frase</p>

				<div class ="slider-and-button">
					<form action="/submit" method="post">
					<input type="hidden" name="sentenceId" value="<%= id %>">
					<div class="slider-container">
						<output for="slider" class="slider-output" id="slider-output" ></output>
						<input type="range" name="note" id="slider" min="-1" max="1" step="0.01" class="slider">
					</div>
					<div class="button-container">
						<button type="submit" class="button center">Enviar</button>
					</div>
				</form>
				</div>
				
			</div>
		</div>

		<script src="/scripts/slider.js"></script>
	</body>
</html>